@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://media.giphy.com/media/13V2lGH2cUYgzC/giphy.gif?cid=ecf05e47f8nkjz8kib8b6qhwbrp773ly6mafcll7o217vo30&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-size: cover;
}

h1{
    font-family: "Winky Rough", sans-serif;
    font-size: 60px;
    color:  #000080;
    text-align: center;
    text-shadow: 4px 7px 4px rgba(0, 0, 0, 0.5); 

}