@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWtxOGlvcnM2a3ZnNmtoZnh0Y2d3bXVjZHM0bW5weTZpY2kybWVkZyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/3o7TKDj5FERANYAak0/giphy.gif);
}

.header_text {
    font-family: "Winky Rough", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
