@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    display: ;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://media.giphy.com/media/ZF8WaQGTw8VBq0vQp9/giphy.gif?cid=ecf05e477wvtregllxa6kbrenf02jwyhn4octz4bgh64uog3&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-size: ;
}

h1{
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color:  #010132fe;
    text-align: center;
    text-shadow: 4px 7px 4px #0000806b; 
}